/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://i.postimg.cc/3xXc5bw0/pexels-david-mcbee-730547.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}